In [ ]:
import os
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
from statsmodels.graphics.regressionplots import abline_plot
import matplotlib
import geopandas
from scipy import statspd.options.display.max_columns = 100

In [2]:
pd.options.display.max_columns = 100

In [3]:
os.getcwd()

'/Users/alvastrand/Library/Mobile Documents/com~apple~CloudDocs/Documents/OU/Research/notebooks/Casey'

In [4]:
path = '/Users/alvastrand/Downloads/linear_mixed_modeling/mean_arrival_day_temperature/coefficients/'

os.chdir(path)

In [5]:
os.getcwd()

'/Users/alvastrand/Downloads'

In [7]:
filename = 'coefficients_mean_arrival_day_temperature.csv'

df_coeffs_lmer = pd.read_csv(filename)
print(df_coeffs_lmer.shape)

df_coeffs_lmer.head(2)

(450, 4)

                    species  cell     slope   intercept
0  Antrostomus_carolinensis    19 -1.749315  101.853281
1  Antrostomus_carolinensis    45 -0.959714  105.110310

In [8]:
df_coeffs_lmer = df_coeffs_lmer.rename(columns={'species': 'scientific_name', 'slope': 'slope_lmer', 'intercept': 'intercept_lmer'})

df_coeffs_lmer['scientific_name'] = df_coeffs_lmer['scientific_name'].str.replace('_', ' ')

print(df_coeffs_lmer.shape)

df_coeffs_lmer.head(2)

(450, 4)

            scientific_name  cell  slope_lmer  intercept_lmer
0  Antrostomus carolinensis    19   -1.749315      101.853281
1  Antrostomus carolinensis    45   -0.959714      105.110310

In [3]:
os.getcwd()

'/Users/alvastrand/Library/Mobile Documents/com~apple~CloudDocs/Documents/OU/Research/notebooks/Casey'

In [4]:
path = '/Users/alvastrand/Library/Mobile Documents/com~apple~CloudDocs/Documents/OU/Research/data/output/'

os.chdir(path)

In [5]:
os.getcwd()

'/Users/alvastrand/Downloads'

In [7]:
filename = 'aerial_insectivores_speeds_mean_arrival_days.csv'

df_speeds_means = pd.read_csv(filename)
print(df_speeds_means.shape)

df_speeds_means.head(2)

(450, 4)

                    species  cell     slope   intercept
0  Antrostomus_carolinensis    19 -1.749315  101.853281
1  Antrostomus_carolinensis    45 -0.959714  105.110310

In [ ]:
filename = 'aerial_insectivores_migration_distances_mean_weighted_body_masses.csv'

df_masses_dist = pd.read_csv(filename)
print(df_masses_dist.shape)

df_masses_dist.head(2)

In [ ]:
df_masses_dist = df_masses_dist[['scientific_name', 'common_name', 'body_mass', 'distance']]
print(df_masses_dist.shape)

df_masses_dist.head(2)

In [ ]:
df_masses_dist_speeds_means = df_masses_dist.merge(df_speeds_means, on='scientific_name')
print(df_masses_dist_speeds_means.shape)

df_masses_dist_speeds_means.head(2)

In [ ]:
list(df_masses_dist_speeds_means['common_name'])

In [ ]:
list_species_codes = ['CWWI', 'EWPW', 'CHSW', 'CONI', 'BARS', 'CLSW', 'PUMA', 'BANS', 'NRWS', 'TRES']
print(len(list_species_codes))

In [ ]:
df_masses_dist_speeds_means['species_code'] = list_species_codes
print(df_masses_dist_speeds_means.shape)

df_masses_dist_speeds_means.head(2)

In [ ]:
df_coeffs_lmer_traits = df_coeffs_lmer.merge(df_masses_dist_speeds_means, on='scientific_name')

df_coeffs_lmer_traits['body_mass_mg'] = df_coeffs_lmer_traits['body_mass']*1000

df_coeffs_lmer_traits['log_body_mass_mg'] = np.log(df_coeffs_lmer_traits['body_mass_mg'])