# Description:
Create grid and assign eBird checklists to a cell in the grid.

In [1]:
import os
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

In [2]:
pd.set_option('max_columns', 100)
pd.set_option('max_rows', 100)

In [3]:
os.getcwd()

'/Users/alvastrand/Documents/OU/Research/notebooks/calculate_arrival_date/archive'

In [4]:
path = '/Users/alvastrand/Documents/OU/Research/data/eBird/ebd_output/'
# path = '/Users/alvastrand/'
# Change current working directory
os.chdir(path)

In [5]:
os.getcwd()

'/Users/alvastrand/Documents/OU/Research/data/eBird/ebd_output'

In [6]:
species = 'purmar'
country = 'US'
states_string = '_states_east_Mississippi'
start_date = '0101'
end_date = '0731'
month = 'Apr'
year = '2020'

filename = 'ebd_' + country + states_string + '_' + species + '_' + start_date + '_' + end_date + \
'_complete_zerofilled_rel' + month + '-' + year + '.csv'
# filename = 'ebd_US_barswa_201001_202001_zerofilled_relJan-2020_v2.csv'
# filename = 'ebd_US_barswa_201001_202001_zerofilled_relJan-2020.csv'

df = pd.read_csv(filename)

/Users/alvastrand/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (11,29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df.shape
# (7459806, 34)

(8351771, 34)

In [8]:
df.head(2)

,checklist_id,last_edited_date,country,country_code,state,state_code,county,county_code,iba_code,bcr_code,usfws_code,atlas_block,locality,locality_id,locality_type,latitude,longitude,observation_date,time_observations_started,observer_id,sampling_event_identifier,protocol_type,protocol_code,project_code,duration_minutes,effort_distance_km,effort_area_ha,number_observers,all_species_reported,group_identifier,trip_comments,scientific_name,observation_count,species_observed
0,S949828,2018-01-02 18:33:08,United States,US,Florida,US-FL,Pasco,US-FL-101,US-FL_62,NaN,NaN,NaN,Robert K. Rees Memorial Park,L127314,H,28.253300,-82.755500,2001-05-12,08:00:00,obs18841,S949828,Stationary,P21,EBIRD,5,NaN,NaN,2,True,NaN,NaN,Progne subis,0,False
1,S1018111,2013-09-23 08:41:34,United States,US,Ohio,US-OH,Portage,US-OH-133,NaN,13.0,NaN,NaN,Mogadore Res - Sunnybrook Rd,L140837,P,41.063328,-81.373825,2003-01-04,14:15:00,obs18443,S1018111,Traveling,P22,EBIRD,30,0.402,NaN,1,True,NaN,NaN,Progne subis,0,False

In [ ]:
min_lat = math.floor(23.88817)
print(min_lat)
# 23

max_lat = math.ceil(48.2235)
print(max_lat)
# 49

min_lon = math.floor(-92.88799)
print(min_lon)
# -93

max_lon = math.ceil(-66.94957) + 1
# -66.9502
print(max_lon)
# -65

In [ ]:
# Create list of latitudes
list_lat = range(min_lat, max_lat, 2)
print(list_lat)
# range(23, 49, 2)
# Get length of the list
print(len(list_lat))
# 13

# Create list of longitudes
list_lon = range(min_lon, max_lon, 2)
print(list_lon)
# range(-93, -65, 2)
# Get length of the list
print(len(list_lon))
# 14

In [ ]:
df['grid_cell'] = np.nan

In [ ]:
df.shape
# (7459806, 35)

In [ ]:
df.head(2)

In [ ]:
num = 0
for i in range(len(list_lat)):
    for j in range(len(list_lon)):
        # If we've reached the index of the last element of the list of latitudes
        if i == len(list_lat) - 1:
            bounding_lat = list_lat[i] + 2
        else:
            bounding_lat = list_lat[i+1]
        # If we've reached the index of the last element of the list of longitudes
        if j == len(list_lon) - 1:
            bounding_lon = list_lon[j] + 2
        else:
            bounding_lon = list_lon[j+1]
        # Assign the number num to the grid_cell column on rows that meet conditions
        df.loc[(df['latitude'] > list_lat[i]) & 
               (df['latitude'] <= bounding_lat) & 
               (df['longitude'] > list_lon[j]) & 
               (df['longitude'] <= bounding_lon), 'grid_cell'] = num
        print(num)
        print(list_lat[i], bounding_lat)
        print(list_lon[j], bounding_lon)
        # Update num by adding 1 to it
        num += 1

In [ ]:
list_grid_cell_ids = []
list_min_lat = []
list_max_lat = []
list_min_lon = []
list_max_lon = []

ID = 0
for i in range(len(list_lat)):
    for j in range(len(list_lon)):
        # If we've reached the index of the last element of the list of latitudes
        if i == len(list_lat) - 1:
            bounding_lat = list_lat[i] + 2
        else:
            bounding_lat = list_lat[i+1]
        # If we've reached the index of the last element of the list of longitudes
        if j == len(list_lon) - 1:
            bounding_lon = list_lon[j] + 2
        else:
            bounding_lon = list_lon[j+1]
        list_grid_cell_ids.append(ID)
        list_min_lat.append(list_lat[i])
        list_max_lat.append(bounding_lat)
        list_min_lon.append(list_lon[j])
        list_max_lon.append(bounding_lon)
        ID += 1

In [ ]:
df_ids = pd.DataFrame(data={'grid_cell': list_grid_cell_ids, 'min_lat': list_min_lat, 'max_lat': list_max_lat, 
                            'min_lon': list_min_lon, 'max_lon': list_max_lon})

In [ ]:
df_ids.shape

In [ ]:
df_ids.head(2)

In [ ]:
# filename = 'ebd_US_barswa_201001_202001_relJan-2020_grid_cell_ids_v2.csv'
# df_ids.to_csv(filename, index=False)

In [ ]:
df['grid_cell'] = df['grid_cell'].astype(int)

In [ ]:
df.shape
# (7459806, 35)

In [ ]:
df.head(2)

In [ ]:
print(df['grid_cell'].min())
# 4
print(df['grid_cell'].max())
# 180
# Get number of unique grid cells
print(len(df['grid_cell'].unique()))
# 108

In [ ]:
# filename = 'ebd_US_barswa_201001_202001_zerofilled_blocks_relJan-2020_v2.csv'
# # filename = 'ebd_US_barswa_201001_202001_zerofilled_blocks_relJan-2020.csv'
# df.to_csv(filename, index=False)