In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.set_option('max_columns', 100)
pd.set_option('max_rows', 100)

In [3]:
os.getcwd()

'/Users/alvastrand/Documents/OU/Research/notebooks'

In [4]:
path = '/Users/alvastrand/'
os.chdir(path)

In [5]:
os.getcwd()

'/Users/alvastrand'

In [6]:
filename = 'ebd_US_barswa_201001_202001_zerofilled_blocks_relJan-2020_v2.csv'
# filename = 'ebd_US_barswa_201001_202001_zerofilled_blocks_relJan-2020.csv'
df = pd.read_csv(filename)

/Users/alvastrand/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (11,29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df['species_observed'].value_counts()

False    3211739
True      629776
Name: species_observed, dtype: int64

In [8]:
df['species_observed_binary_values'] = np.where(df['species_observed'] == True, 1.0, 0.0)

In [9]:
df.shape

(3841515, 36)

In [10]:
df.head(2)

,checklist_id,last_edited_date,country,country_code,state,state_code,county,county_code,iba_code,bcr_code,usfws_code,atlas_block,locality,locality_id,locality_type,latitude,longitude,observation_date,time_observations_started,observer_id,sampling_event_identifier,protocol_type,protocol_code,project_code,duration_minutes,effort_distance_km,effort_area_ha,number_observers,all_species_reported,group_identifier,trip_comments,scientific_name,observation_count,species_observed,grid_cell,species_observed_binary_values
0,S921844,2009-02-26 17:21:28,United States,US,Connecticut,US-CT,Litchfield,US-CT-005,NaN,30.0,NaN,NaN,06763 Morris,L122425,PC,41.68865,-73.18764,2002-05-14,18:30:00,obs16599,S921844,Stationary,P21,EBIRD,90,NaN,NaN,2,True,NaN,NaN,Hirundo rustica,0,False,135,0.0
1,S925230,2015-02-25 21:42:53,United States,US,North Carolina,US-NC,Buncombe,US-NC-021,NaN,28.0,NaN,NaN,60 Miller Cove Road,L2226869,P,35.57091,-82.30535,2002-06-07,08:00:00,obs11483,S925230,Stationary,P21,EBIRD,60,NaN,NaN,1,True,NaN,NaN,Hirundo rustica,0,False,89,0.0

In [11]:
# df['grid_cell'].isnull().values.any()

In [12]:
# Calculate the total number of checklists for each grid cell and date
df_cnt = df[['checklist_id', 'grid_cell', 'observation_date']].groupby(['grid_cell', 'observation_date']).count()

In [13]:
df_cnt.rename(columns={'checklist_id': 'nb_checklists'}, inplace=True)

In [14]:
df_cnt.shape

(137586, 1)

In [15]:
df_cnt.head(2)

                            nb_checklists
grid_cell observation_date
4         2017-04-21                    1
          2018-06-11                    1

In [16]:
# df_cp = df.copy()
# df_cp = df_cp[df_cp['observation_count'] != 'X']
# df_cp['observation_count'] = df_cp['observation_count'].astype(int)

In [17]:
# Calculate the number of checklists with at least one Barn Swallow observation for each grid cell and date
df_sum = df[['species_observed_binary_values', 'grid_cell', 'observation_date']].groupby(['grid_cell', 
                                                                                         'observation_date']).sum()

In [18]:
df_sum.rename(columns={'species_observed_binary_values': 'nb_checklists_species'}, inplace=True)

In [19]:
df_sum.shape

(137586, 1)

In [20]:
df_sum.head(2)

                            nb_checklists_species
grid_cell observation_date
4         2017-04-21                          0.0
          2018-06-11                          0.0

In [21]:
df_grp = df_cnt.merge(df_sum, left_index=True, right_index=True)

In [22]:
df_grp.shape

(137586, 2)

In [23]:
df_grp.head(2)

                            nb_checklists  nb_checklists_species
grid_cell observation_date
4         2017-04-21                    1                    0.0
          2018-06-11                    1                    0.0

In [24]:
# Calculate the proportion of checklists with at least one Barn Swallow observation for each grid cell and date
df_grp['prop'] = df_grp['nb_checklists_species']/df_grp['nb_checklists']

In [25]:
df_grp.reset_index(inplace=True)

In [26]:
df_grp.shape

(137586, 5)

In [27]:
df_grp.head(2)

   grid_cell observation_date  nb_checklists  nb_checklists_species  prop
0          4       2017-04-21              1                    0.0   0.0
1          4       2018-06-11              1                    0.0   0.0

In [28]:
print(len(df_grp[df_grp['prop'] == 0]))
print(len(df_grp[df_grp['prop'] > 0]))

80845
56741

In [29]:
df_grp['observation_date_dt'] = pd.to_datetime(df_grp['observation_date'])

In [30]:
df_grp['year'] = df_grp['observation_date'].astype(str).str[:4]

In [31]:
# df_grp['year'] = df_grp['observation_date_dt'].year

In [32]:
df_grp.shape

(137586, 7)

In [33]:
df_grp.head(2)

,grid_cell,observation_date,nb_checklists,nb_checklists_species,prop,observation_date_dt,year
0,4,2017-04-21,1,0.0,0.0,2017-04-21,2017
1,4,2018-06-11,1,0.0,0.0,2018-06-11,2018

In [34]:
df_prop_greater_than = df_grp[df_grp['prop'] > 0]

In [35]:
len(df_prop_greater_than['grid_cell'].unique())

94

In [36]:
df_prop_greater_than.shape

(56741, 7)

In [37]:
df_prop_greater_than.head(2)

,grid_cell,observation_date,nb_checklists,nb_checklists_species,prop,observation_date_dt,year
225,5,2010-03-31,2,2.0,1.0,2010-03-31,2010
226,5,2010-04-01,1,1.0,1.0,2010-04-01,2010

In [38]:
# Calculate the number of proportions greater than 0 for each grid cell and date
df_prop_greater_than_cnt = df_prop_greater_than[['grid_cell', 'year', 'prop']].groupby(['grid_cell', 'year']).count()

In [39]:
df_prop_greater_than_cnt.reset_index(inplace=True)

In [40]:
df_prop_greater_than_cnt.shape

(909, 3)

In [41]:
df_prop_greater_than_cnt.head(2)

   grid_cell  year  prop
0          5  2010    19
1          5  2011    17

In [42]:
df_nb_prop = df_prop_greater_than_cnt['prop'].value_counts().to_frame().reset_index()

In [43]:
df_nb_prop.head(2)

   index  prop
0     89    33
1      1    26

In [ ]:
df_prop_greater_than_cnt[df_prop_greater_than_cnt['prop']==89]

In [ ]:
grid_cell = 136
year = '2014'

In [ ]:
df_block_year = df_grp[(df_grp['grid_cell'] == grid_cell) & (df_grp['year'] == year)]

In [ ]:
df_block_year.reset_index(drop=True, inplace=True)

In [ ]:
# plt.scatter(df_grp[df_grp['grid_cell'] == grid_cell]['observation_date_dt'], df_grp[df_grp['grid_cell'] == 
#                                                                                    grid_cell]['prop'])
# plt.show()

In [ ]:
# plt.rcParams["figure.figsize"]

In [ ]:
plt.figure(figsize=(12.0, 4.0))
plt.scatter(df_block_year['observation_date_dt'], df_block_year['prop'])
plt.show()

In [ ]:
# plt.rcParams["figure.figsize"]

In [ ]:
# df_grp[df_grp['grid_cell'] == 'B7'].plot(x='observation_date_dt', y='prop', kind='scatter')
# plt.show()

In [ ]:
filename = 'ebd_US_barswa_201001_202001_zerofilled_blocks_prop_relJan-2020_v2.csv'
# filename = 'ebd_US_barswa_201001_202001_zerofilled_blocks_prop_relJan-2020.csv'
# df_grp.to_csv(filename, index=False)

In [ ]:
df_block_year = df_block_year.drop(columns=['observation_date_dt'])

In [ ]:
df_block_year.shape

In [ ]:
df_block_year.head(2)

In [ ]:
filename = 'ebd_US_barswa_201001_202001_zerofilled_block_' + str(grid_cell) + '_year_' + year + \
'_prop_relJan-2020_v2.csv'
# filename = 'ebd_US_barswa_201001_202001_zerofilled_block_' + str(grid_cell) + '_year_' + year + \
# '_prop_relJan-2020.csv'
# df_block_year.to_csv(filename, index=False)