In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
pd.set_option('max_columns', 100)
pd.set_option('max_rows', 100)

In [3]:
os.getcwd()

'/Users/alvastrand/Documents/OU/Research/notebooks'

In [4]:
path = '/Users/alvastrand/Documents/OU/Research/'
os.chdir(path)

In [5]:
os.getcwd()

'/Users/alvastrand/Documents/OU/Research'

In [6]:
# subdir = 'data/output/'
# filename = 'obligate_aerial_insectivores_birdlife_nacc.csv'
# df_a_i = pd.read_csv(subdir + filename)

In [7]:
subdir = 'data/output/'
filename = 'all_obligate_aerial_insectivores_birdlife_nacc_north_america.csv'
df_a_i_na_all = pd.read_csv(subdir + filename)

In [8]:
subdir = 'data/output/'
filename = 'obligate_aerial_insectivores_birdlife_nacc_north_america.csv'
df_a_i_na = pd.read_csv(subdir + filename)

Tyrannidae.

In [9]:
subdir = 'data/eBird/'
filename = 'ebirdst_run_names.csv'
df_e = pd.read_csv(subdir + filename)

In [10]:
# print(len(df_a_i))

# print(len(df_a_i_na_all))
# print(len(df_a_i_na))

print(len(df_e))

610

In [ ]:
df_a_i_na_all.head(2)

In [ ]:
df_a_i_na.head(2)

Tyrannidae.

In [11]:
df_e.head(2)

,species_code,run_name,scientific_name,common_name,breeding_start_dt,breeding_end_dt,nonbreeding_start_dt,nonbreeding_end_dt,postbreeding_migration_start_dt,postbreeding_migration_end_dt,prebreeding_migration_start_dt,prebreeding_migration_end_dt,year_round_start_dt,year_round_end_dt
0,bbwduc,bbwduc-ERD2018-EBIRD_SCIENCE-20191105-dc3957b5,Dendrocygna autumnalis,Black-bellied Whistling-Duck,2018-05-24,2018-08-03,2018-01-18,2018-03-01,2018-08-10,2018-01-11,2018-03-08,2018-05-17,NaN,NaN
1,fuwduc,fuwduc-ERD2018-EBIRD_SCIENCE-20191108-754039df,Dendrocygna bicolor,Fulvous Whistling-Duck,2018-05-10,2018-08-17,2018-11-30,2018-02-15,2018-08-24,2018-11-23,2018-02-22,2018-05-03,NaN,NaN

In [ ]:
df_a_i_na.columns.tolist()

In [ ]:
df_e.columns.tolist()

In [ ]:
[i for i in df_a_i_na.columns.tolist() if i in df_e.columns.tolist()]

In [ ]:
[i for i in df_a_i_na.columns.tolist() if i not in df_e.columns.tolist()]

In [ ]:
[i for i in df_e.columns.tolist() if i not in df_a_i_na.columns.tolist()]

In [ ]:
# assert(df_a_i.columns.tolist() == df_a_i_na.columns.tolist())

In [ ]:
# print(len(df_a_i_na.merge(df_e, on='scientific_name')))
# print(len(df_a_i_na.merge(df_e, on='common_name')))
# print(len(df_a_i_na.merge(df_e, on=['scientific_name', 'common_name'])))

In [ ]:
df_a_i_na_e = df_a_i_na.merge(df_e, on=['scientific_name', 'common_name'])

In [ ]:
len(df_a_i_na_e)
# 17

In [ ]:
df_a_i_na_e.head(2)

In [ ]:
# df_a_i_na_e['common_name'].tolist()

In [ ]:
list(set(df_a_i_na['common_name'].tolist()).difference(df_a_i_na_e['common_name'].tolist()))

In [ ]:
df_a_i_na_all_e = df_a_i_na_all.merge(df_e, on=['scientific_name', 'common_name'])

In [ ]:
len(df_a_i_na_all_e)

In [ ]:
df_a_i_na_all_e.head(2)

In [ ]:
# df_a_i_na_all_e['common_name'].tolist()

In [ ]:
list(set(df_a_i_na_all['common_name'].tolist()).difference(df_a_i_na_all_e['common_name'].tolist()))

In [ ]:
# subdir = 'data/output/'
# filename = 'all_obligate_aerial_insectivores_ebirdst.csv'
# df_a_i_na_all_e[['species_code', 'scientific_name', 'common_name']].to_csv(subdir + filename, index=False)

Tyrannidae.

In [12]:
subdir = 'data/Birds_of_North_America/'
filename = 'obligate_aerial_insectivores_tyrannidae_birds_of_north_america.csv'
df_bna_t = pd.read_csv(subdir + filename)

In [13]:
len(df_bna_t)

55

In [14]:
df_bna_t.head(2)

              order         family       common_name         scientific_name
0  Caprimulgiformes  Caprimulgidae  Lesser Nighthawk  Chordeiles acutipennis
1  Caprimulgiformes  Caprimulgidae  Common Nighthawk        Chordeiles minor

In [15]:
df_bna_t['order'].value_counts()

Passeriformes       42
Caprimulgiformes    13
Name: order, dtype: int64

In [16]:
df_bna_t['family'].value_counts()

Tyrannidae       34
Caprimulgidae     9
Hirundinidae      8
Apodidae          4
Name: family, dtype: int64

In [17]:
df_bna_t['aerial_maneuver'] = np.where(df_bna_t['family'] == 'Tyrannidae', 'sally', 'screen')

In [18]:
df_bna_t.head(2)

,order,family,common_name,scientific_name,aerial_maneuver
0,Caprimulgiformes,Caprimulgidae,Lesser Nighthawk,Chordeiles acutipennis,screen
1,Caprimulgiformes,Caprimulgidae,Common Nighthawk,Chordeiles minor,screen

In [19]:
df_bna_t_e = df_bna_t.merge(df_e, on=['scientific_name', 'common_name'])

In [20]:
len(df_bna_t_e)

53

In [21]:
df_bna_t_e.head(2)

,order,family,common_name,scientific_name,aerial_maneuver,species_code,run_name,breeding_start_dt,breeding_end_dt,nonbreeding_start_dt,nonbreeding_end_dt,postbreeding_migration_start_dt,postbreeding_migration_end_dt,prebreeding_migration_start_dt,prebreeding_migration_end_dt,year_round_start_dt,year_round_end_dt
0,Caprimulgiformes,Caprimulgidae,Lesser Nighthawk,Chordeiles acutipennis,screen,lesnig,lesnig-ERD2018-EBIRD_SCIENCE-20191108-3d2d1383,2018-05-03,2018-08-03,2018-11-16,2018-03-08,2018-08-10,2018-11-09,2018-03-15,2018-04-26,NaN,NaN
1,Caprimulgiformes,Caprimulgidae,Common Nighthawk,Chordeiles minor,screen,comnig,comnig-ERD2018-EBIRD_SCIENCE-20191105-3cf8df7e,2018-06-21,2018-07-20,2018-11-16,2018-03-15,2018-07-27,2018-11-09,2018-03-22,2018-06-14,NaN,NaN

In [22]:
list(set(df_bna_t['common_name'].tolist()).difference(df_bna_t_e['common_name'].tolist()))

['Mexican Whip-poor-will', 'Buff-collared Nightjar']

In [23]:
# subdir = 'data/output/'
# filename = 'all_obligate_aerial_insectivores_tyrannidae_ebirdst.csv'
# df_bna_t_e[['species_code', 'scientific_name', 'common_name']].to_csv(subdir + filename, index=False)

In [24]:
subdir = 'data/output/'
filename = 'all_obligate_aerial_insectivores_tyrannidae_ebirdst_order_family_aerial_maneuver.csv'
df_bna_t_e[['species_code', 'scientific_name', 'common_name', 'order', 'family', 'aerial_maneuver']].to_csv(
    subdir + filename, index=False)

In [ ]:
# df_a_i_e = df_a_i.merge(df_e, on=['scientific_name', 'common_name'])

In [ ]:
# len(df_a_i_e)

In [ ]:
# df_a_i_e.head(2)

In [ ]:
# df_a_i_e['common_name'].tolist()

In [ ]:
# list(set(df_a_i['common_name'].tolist()).difference(df_a_i_e['common_name'].tolist()))

In [ ]:
subdir = 'data/Handbook/'
filename = 'migratory_species.csv'
df_h = pd.read_csv(subdir + filename)

In [ ]:
df_h = df_h.rename(columns={'Scientific': 'scientific_name'})

In [ ]:
subdir = 'data/output/'
filename = 'obligate_aerial_insectivores_birdlife_nacc_north_america_handbook_added.csv'
df_a_i_na_h_added = pd.read_csv(subdir + filename)

In [ ]:
print(len(df_h))
print(len(df_a_i_na_h_added))

In [ ]:
df_h.head(2)

In [ ]:
df_a_i_na_h_added.head(2)

In [ ]:
df_a_i_na_all_e_h = df_a_i_na_all_e.merge(df_h, on='scientific_name')

In [ ]:
len(df_a_i_na_all_e_h)

In [ ]:
df_a_i_na_all_e_h.head(2)

In [ ]:
list(set(df_a_i_na_h_added['common_name'].tolist()).difference(df_a_i_na_all_e_h['common_name'].tolist()))

In [ ]:
list(set(df_a_i_na_all_e['common_name'].tolist()).difference(df_a_i_na_h_added['common_name'].tolist()))

In [ ]:
df_a_i_na_all_e[df_a_i_na_all_e['common_name'] == 'Common Pauraque']

In [ ]:
df_a_i_na_all_e[df_a_i_na_all_e['common_name'] == 'Antillean Nighthawk']

Nyctidromus albicollis/Pauraque: Sex: B, N=37, Mean=53.2

Nyctidromus albicollis yucatanensis/Pauraque: Sex: B, N=16, Mean=62.9

Chordeiles gundlachii/Antillean Nighthawk: Sex: U, Mean=50, Location: Estimated?

In [ ]:
df_not_in_h = df_a_i_na_all[df_a_i_na_all['common_name'].isin(
    list(set(df_a_i_na_all_e['common_name'].tolist()).difference(df_a_i_na_h_added['common_name'].tolist()))
)]

In [ ]:
df_not_in_h

In [ ]:
list_masses_not_in_h = [50, 53.2]

In [ ]:
df_not_in_h['BodyMass.Value'] = list_masses_not_in_h
# SettingWithCopyWarning

In [ ]:
df_not_in_h[['common_name', 'scientific_name', 'BodyMass.Value']]

In [ ]:
df_a_i_na_e_h_added = df_a_i_na_h_added.merge(df_e[['scientific_name', 'common_name']], 
                                              on=['scientific_name', 'common_name'])

In [ ]:
len(df_a_i_na_e_h_added)

In [ ]:
df_a_i_na_e_h_added.head(2)

In [ ]:
print(len(df_a_i_na_e_h_added.columns))
print(len(df_not_in_h.columns))

In [ ]:
df_a_i_na_e_h_added_non_migratory = df_a_i_na_e_h_added.append(df_not_in_h)

In [ ]:
len(df_a_i_na_e_h_added_non_migratory)

In [ ]:
df_a_i_na_e_h_added_non_migratory[['common_name', 'BodyMass.Value']].sort_values(by='BodyMass.Value', 
                                                                                 ascending=False)

In [ ]:
df_a_i_na_e_h_added_non_migratory = df_a_i_na_e_h_added_non_migratory.merge(
    df_a_i_na_all_e[['species_code', 'scientific_name', 'common_name']], on=['scientific_name', 'common_name'])

In [ ]:
len(df_a_i_na_e_h_added_non_migratory)

In [ ]:
df_a_i_na_e_h_added_non_migratory.head(2)

In [ ]:
df_a_i_na_e_h_added_non_migratory = df_a_i_na_e_h_added_non_migratory.rename(columns={'BodyMass.Value': 'body_mass'})

In [ ]:
subdir = 'data/output/'
filename = 'all_obligate_aerial_insectivores_ebirdst_handbook.csv'
df_a_i_na_e_h_added_non_migratory[['species_code', 'scientific_name', 'common_name', 'body_mass']].to_csv(
    subdir + filename, index=False)