In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.set_option('max_columns', 100)
pd.set_option('max_rows', 100)

In [3]:
os.getcwd()

'/Users/alvastrand/Documents/OU/Research/notebooks/calculate_arrival_date'

In [4]:
path = '/Users/alvastrand/Documents/OU/Research/data/'
os.chdir(path)

In [5]:
os.getcwd()

'/Users/alvastrand/Documents/OU/Research/data'

In [6]:
start_date = '0101'
end_date = '0731'
month = 'Apr'
year = '2020'
countries_states = 'US_states_east_Mississippi'

In [7]:
def name_of_function(species, start_date, end_date, month, year, *args):
    
    subdir = 'eBird/ebd_output/'

    if args != ():

        countries_states = args[0]
        
        filename_first_of_season = 'ebd_' + countries_states + '_' + species + '_' + start_date + '_' + end_date + \
        '_complete_zerofilled_grid_cells_proportions_first_of_season_rel' + month + '-' + year + '.csv'
        print(filename_first_of_season)
        
        filename_prop = 'ebd_' + countries_states + '_' + species + '_' + start_date + '_' + end_date + \
        '_complete_zerofilled_grid_cells_proportions_rel' + month + '-' + year + '.csv'
        print(filename_prop)

    df_first_of = pd.read_csv(subdir + filename_first_of_season)
    df_first_of = df_first_of.rename(columns={'t_mad': 'first_of_season_arrival_day', 
                                              'mad': 'first_of_season_arrival_date'})
    df_first_of['first_of_season_arrival_date'] = pd.to_datetime(df_first_of['first_of_season_arrival_date'])
    
    df_prop = pd.read_csv(subdir + filename_prop)
    df_prop['observation_date_dt'] = pd.to_datetime(df_prop['observation_date_dt'])
    
    return df_first_of, df_prop

In [8]:
species = 'purmar'

df_first_of, df_prop = name_of_function(species, start_date, end_date, month, year, countries_states)

ebd_US_states_east_Mississippi_purmar_0101_0731_complete_zerofilled_grid_cells_proportions_first_of_season_relApr-2020.csv
ebd_US_states_east_Mississippi_purmar_0101_0731_complete_zerofilled_grid_cells_proportions_relApr-2020.csv

In [9]:
len(df_first_of)

932

In [10]:
df_first_of.head(2)

,grid_cell,year,nb_prop,first_of_season_arrival_day,first_of_season_arrival_date
0,5,2013,14,100.0,2013-04-10
1,5,2015,30,75.0,2015-03-16

In [11]:
df_first_of[df_first_of['grid_cell'] == 5]

,grid_cell,year,nb_prop,first_of_season_arrival_day,first_of_season_arrival_date
0,5,2013,14,100.0,2013-04-10
1,5,2015,30,75.0,2015-03-16
2,5,2016,24,51.0,2016-02-20
3,5,2017,28,64.0,2017-03-05
4,5,2018,24,39.0,2018-02-08
5,5,2019,25,32.0,2019-02-01

In [12]:
len(df_prop)

282148

In [13]:
df_prop.head(2)

,grid_cell,observation_date,nb_checklists,nb_checklists_species,prop,observation_date_dt,year
0,4,2013-02-02,1,0.0,0.0,2013-02-02,2013
1,4,2013-02-03,1,0.0,0.0,2013-02-03,2013

In [14]:
len(df_prop[df_prop['grid_cell'] == 5])

2067

In [15]:
len(df_prop[(df_prop['grid_cell'] == 5) & (df_prop['year'] == 2013)])

174

In [16]:
len(df_prop[(df_prop['grid_cell'] == 5) & (df_prop['year'] == 2019)])

202