In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
os.getcwd()

'/Users/alvastrand/Library/Mobile Documents/com~apple~CloudDocs/Documents/OU/Research/notebooks/Casey/1'

In [3]:
path = '/Users/alvastrand/Library/Mobile Documents/com~apple~CloudDocs/Documents/OU/Research/data/eBird/ebd_output/'

os.chdir(path)

In [4]:
os.getcwd()

'/Users/alvastrand/Library/Mobile Documents/com~apple~CloudDocs/Documents/OU/Research/data/eBird/ebd_output'

In [5]:
pd.set_option('max_columns', 100)

In [6]:
species = 'barswa'

# filename = 'ebd_US_states_east_Mississippi_' + species + '_0101_0731_complete_zerofilled_grid_cells_relApr-2020.csv'

filename = 'ebd_US_states_east_Mississippi_0101_0731_complete_zerofilled_grid_cell_ids_relApr-2020.csv'

df = pd.read_csv(filename)

print(len(df))

df.head(2)

182

   grid_cell  min_lat  max_lat  min_lon  max_lon
0          0       23       25      -93      -91
1          1       23       25      -91      -89

In [8]:
df[df['grid_cell'] == 122]

     grid_cell  min_lat  max_lat  min_lon  max_lon
122        122       39       41      -73      -71