In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
os.getcwd()

'/Users/alvastrand/Library/Mobile Documents/com~apple~CloudDocs/Documents/OU/Research/notebooks/Casey/4'

In [3]:
path = '/Users/alvastrand/Library/Mobile Documents/com~apple~CloudDocs/Documents/OU/Research/data/eBird/ebd_output/'

os.chdir(path)

In [4]:
os.getcwd()

'/Users/alvastrand/Library/Mobile Documents/com~apple~CloudDocs/Documents/OU/Research/data/eBird/ebd_output'

In [5]:
pd.set_option('max_columns', 100)

In [6]:
species = 'barswa'

filename = 'ebd_US_states_east_Mississippi_0101_0731_complete_zerofilled_grid_cell_ids_relApr-2020.csv'

df = pd.read_csv(filename)

print(len(df))

df.head(2)

182

   grid_cell  min_lat  max_lat  min_lon  max_lon
0          0       23       25      -93      -91
1          1       23       25      -91      -89

In [7]:
df['lat_deg'] = df[['min_lat', 'max_lat']].mean(axis=1)

print(len(df))

df.head(2)

182

   grid_cell  min_lat  max_lat  min_lon  max_lon  lat_deg
0          0       23       25      -93      -91     24.0
1          1       23       25      -91      -89     24.0

In [8]:
df['lon_deg'] = df[['min_lon', 'max_lon']].mean(axis=1)

print(len(df))

df.head(2)

182

   grid_cell  min_lat  max_lat  min_lon  max_lon  lat_deg  lon_deg
0          0       23       25      -93      -91     24.0    -92.0
1          1       23       25      -91      -89     24.0    -90.0

In [9]:
filename = 'ebd_US_states_east_Mississippi_0101_0731_complete_zerofilled_grid_cell_centers_relApr-2020.csv'

df[['grid_cell', 'lat_deg', 'lon_deg']].to_csv(filename, index=False)